/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */


body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: Verdana, Geneva, Arial, sans-serif;
}
.navbar{
	background:#F97300;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #f97300;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
	position: relative;
	background-image: url('../images/headerback.jpg');

	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
	color:#F97300 ;
}
.description p{
	color:#666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #F97300;
	background:#F97300;
	color:#fff;
}
.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#F97300;
	margin: 2em;
}
.about img.avatar{
	width: 100%;
	height: auto;
	align-self: center;
    border-radius: 50%
}
.about p img{
	height: 26px;
	width: 26px;
	border-radius: 0em;
	padding: 5px;
	margin-bottom: 3px;
}
.about span {
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc p.name{
	font-size: xx-large;
	color: #5b4c5c;
	margin-bottom: 0em;
	font-weight: bolder;
}

.about .desc{
	padding-left: 2em;
	padding-right: 2em;
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
	color:#888;
}


/*Portfolio*/
.portfolio{
	margin: 4em 0;
    position: relative;	
}
.portfolio h1{
	color:#F97300;
	margin: 2em;	
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em 0;
}

.portfolio .card img{
	height: 5em;
	width: 5em;
}
.portfolio .card{
	margin-top: 1em;
}

/*blog style*/

.blog{
	margin: 4em 0;
	position: relative;	
}
.blog h1{
	color:#F97300;
	margin: 2em;	
}
.blog .card{
	box-shadow: 0 0 20px #ccc;
}
.blog .card img{
	width: 100%;
	height: 12em;
}
@media and (max-width: 768px){
 .team .item img{
 	width: 100%;
 }	
}
.blog .card-title{
	color:#F97300;
	 
}
.blog .card-body{
	padding: 1em;
}
.team{
	margin: 4em 0;
	position: relative;

}
.team h1{
	color:#F97300;
	margin: 2em;	
}
.team .item{
	position: relative;
	overflow: hidden;	
}
.team .des{
	background: #F97300;
	color: #fff;
	text-align: center;
	border-top-right-radius: 93%;
	transition:.3s ease-in-out;
	position: absolute;
	width: 88%;
	bottom: 24px;


}
.team .item:hover .des{
	height: 100%;
	background:#f973007d;
    position: absolute;
	width: 89%;
	padding: 5em;
	top: 0;
	border-top-right-radius: 0;
}
.contact{
	margin: 6em 0;
	position: relative;		
}

.contact h1{
	padding:2em 1px;
	color: #F97300; 
}

.contact p{
	color: #888;
}
.contact .right{
	max-width: 600px;
}
.contact .right .btn-secondary{
	background:  #F97300;
	color: #fff;
	border:0;
}
.contact .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}

/*----------------------------------------------------
 8. Work Experience Style
------------------------------------------------------*/
.exprience{
	margin: 4em 0;
}
.exprience h1{
	color:#F97300;
	margin: 2em;	
}

.exprience h2 {
    color: #5b4c5c;
    margin-bottom: 41px;
}

.exprience p {
    color: #84868d;
    /*font-size:13px;*/
    line-height: 18px;
}

.exprience .heading p {
    padding-bottom: 54px;
    max-width: 660px;
    text-align: justify;
    display: block;
    margin: 0 auto;
    color: #897f8a;
    line-height: 27px;
}

.exprience h4 {
    font-weight: 700;
}

.workDetails .rightArea {
    border-left: dashed 1px #897f8a;
    padding-bottom: 47px;
}

.workDetails:last-child .rightArea {
    padding-bottom: 0px;
}

.workDetails:last-child .rightArea .exCon p:last-child {
    padding-bottom: 0;
}

.workYear {
    font-size: 17px;
    color: #fff;
    line-height: 40px;
}

.workYear span {
	width: 7em;
    display: flexbox;
	font-size: 18px;
    padding: 0 21px;
    white-space: nowrap;
    float: left;
    margin-bottom: 1em;
    margin-right: 28px;
    font-weight: bold;
}

.prevY {
    background-color: #F97300;
}

.afterY {
    background-color: #10828C;
}

.arrowpart {
    margin-left: -26px;
    margin-top: 32px;
    float: left;
    width: 22px;
    height: 22px;
    background: url(../images/work_experience/arrow-left.png) no-repeat 0 0 #f8f7f8;
}

.exCon {
    width: auto;
    padding: 0 1em 0 1em;
    margin-left: 1em;
    text-align: left;
}

.exCon img{
	height: 32px;
	width: 32px;
	border-radius: 0em;
	padding: 5px;
	margin-bottom: 3px;
}

.exCon p {
    color: #897f8a;
    line-height: 27px;
}

.exCon h4 {
    color: #5b4c5c;
    padding-bottom: 1px;
    margin-top: -8px;
}

.exCon h4 span {
	font-style: italic;
	color: #897f8a;
}

.exCon h5 {
    color: #5b4c5c;
    padding-bottom: 11px;
}

.exCon a:link{
	color: #897f8a;
	text-decoration: underline;
}
.exCon a:visited{
	color: #897f8a;
}
.exCon a:hover{
	color: #10828C;
}

.exCon p em{
	font-weight: bold;
}

.exCon p span{
	font-style: italic;
}
.exCon ul li {
	color: #897f8a;
    line-height: 27px;
}
.exCon ul li em{
	font-weight: bold;
}
